*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    
    font-weight: 600;
    }
body{
   background-color: rgb(13, 21, 44);
   background-image: url(https://app.svgator.com/assets/svgator.webapp/log-in-girl.svg);
   background-repeat: no-repeat;
   background-position: 20rem;
}

.header{
    height:3rem;
        width:100%;
        background-color: rgb(216, 216, 216);
        border-bottom:  0.08rem solid rgb(112, 112, 112);
}
h1{
    text-align: center;
    font-weight: 650;
    font-size: 1.7rem;
    font-family: Poppins;
}
.formstyle{
    background-color: rgb(255, 255, 255);
    width:30rem;
    height: 37rem;
    margin: auto;
    align-self: center;
    margin-top: 2rem;
    border-radius: 0.7rem;
    border: 0.08rem solid rgb(224, 224, 224);
    box-shadow:  2px 2px 20px 0.4px rgb(180, 180, 180);
}
.textview{
    height:4.5rem ;
    width:25rem;
    margin: 2.3rem;
    border: 0.2rem solid rgb(233, 181, 138);
    font-size: 2rem;
}
table{
    margin:1rem;
    margin-top: 0rem;
}
input{
height: 3.5rem;

border: 0.08rem solid rgb(197, 197, 197);
margin-left: 1.4rem;
margin-bottom: 1.2rem;
border-radius: 0.5rem;
color:rgb(126, 126, 126);
font-weight: 500;
font-size: 1.5rem;
}
.textview{
    text-align: right;
    padding-right:1.5rem;
}
.btn{
    height: 4rem;
    width: 5rem;
    box-shadow:  1px 2px 5px 0.4px rgb(211, 211, 211);
} 
#light-yellow{
    color:rgb(255, 153, 0);
    background-color: rgb(255, 240, 191);
    border: 0.08rem solid rgb(255, 231, 187);
}
#dark-yellow{
    color:rgb(255, 166, 0);
    background-color: rgb(255, 218, 95);
    border: 0.08rem solid rgb(255, 206, 115);
}
.btn:hover{
    box-shadow:  0px 1px 3px 0.3px rgb(211, 211, 211);
}
footer{
    margin-top: 1rem;
    text-align: center;
    color: white;
    font-family: Poppins;
    font-weight: 500;
    font-size: 1.2rem;
}
@media(max-width:800px){
    .header{
           height:5rem;
            width:100%;
            background-color: rgb(216, 216, 216);
            border-bottom:  0.08rem solid rgb(112, 112, 112);
    }
    .formstyle{
        width:22rem;
        height: 32rem;
        margin:auto;
        align-self: center;
        margin-top: 7rem;
        border-radius: 1.3rem;
        box-shadow: none;
        margin-left:1.1rem;
    } 
    .textview{
        height:4rem ;
        width:20rem;
        margin: 2rem 0rem;
        margin-left: 0.8rem;
        border-radius: 0.7rem;
    } 
    .btn{
        height: 3rem;
        width: 3.5rem;
        box-shadow:  1px 2px 5px 0.4px rgb(211, 211, 211);
    } 
    table{
        margin:0rem;
        margin-top: 0rem;
        margin-left: 0;
        margin-right: 0;
    }
    body{
        background-color: rgb(13, 21, 44);
        background-image: none;
        background-repeat: no-repeat;
        background-position: none;
     }
     footer{
         margin-top: 3rem;
         text-align: center;
         color: white;
         font-family: Poppins;
         font-weight: 500;
         font-size: 1.2rem;
     }
}
